# Conda env and Singularity images
**-env
**.sif

# R Markdown files
**_files

# Data and results
data/*
results/*

# Misc
run.sh

# Manual data from group
!data/cell-type-markers.csv
!data/manual-tx2gene.tsv
!data/cluster-cell-types.tsv
