profiles {

    // Uppmax general profile
    uppmax {
        process {
            executor = 'slurm'
            clusterOptions = { '-A "snic2019-8-320"' }
            memory = { 6.GB * task.attempt }
            cpus = { 1 * task.attempt }
            time = { 10.h * task.attempt }
            errorStrategy  = 'retry'
            maxRetries = 1
            scratch = '$SNIC_TMP'
        }
    }

    conda { // Custom profile named conda
        conda { // Conda config scope
            // One may now probably be able to use useMamba = true
            // https://github.com/nextflow-io/nextflow/pull/2030
            useMamba = true
            createOptions '-c conda-forge -c bioconda'
        }
        includeConfig "$baseDir/configs/conda_packages.config"
    }

    singularity { // Custom profile named singularity
        // Specify singularity containers to use.
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
        includeConfig "$baseDir/configs/docker_packages.config"
    }

    docker { // Custom profile named docker
        // Specify docker containers to use.
        docker.enabled = true
        docker.envWhitelist = 'SNIC_TMP'
        includeConfig "$baseDir/configs/docker_packages.config"
    }

    // Uppmax devel profile
    devel {
        process {
            time = 1.h
            errorStrategy  = 'terminate'
        }
        executor.queueSize = 1
        process.queue = 'devel'
    }
}
