process {

    // default conda env
    // * Python 3.10 w/ argparse, xml.etree.ElementTree
    conda = '$baseDir/configs/python-env.yml'

	withLabel: 'Rscript' {
        conda = '$baseDir/configs/rscript-env.yml'
	}

    withLabel: 'salmon' {
        // * Salmon
        conda = 'salmon:1.4.0--h84f40af_1'
    }

}
