process {

    // default container image - changed to include python 3
    // * process: map_transcriptome_ids
    // * process: build_tx2gene_and_fasta
    // * process: concatenate_lanes
    // Includes:
    // * Python 3.10 w/ argparse, xml.etree.ElementTree
    // * join, paste, cut, sort, cat, printf, tr, grep, zcat
    container = 'python:3.10.0b1'
    // container = 'bashell/alpine-bash'

	withLabel: 'Rscript' {
        // Container prerequisites:
        // * R
        // * RMarkdown
        // * Seurat
        // * Cowplot
        // * AlevinQC
        container = '<namespace>/single_cell_r_env:1.0'
		// container = 'satijalab/seurat:4.0.1'
	}

    withLabel: 'salmon' {
        // * Salmon
        container = 'quay.io/biocontainers/salmon:1.4.0--h84f40af_1'
    }

}
