process {

    // default container image - changed to include python 3
    // * process: map_transcriptome_ids
    // * process: build_tx2gene_and_fasta
    // * process: concatenate_lanes
    // Includes:
    // * Python 3.10 w/ argparse, xml.etree.ElementTree
    // * join, paste, cut, sort, cat, printf, tr, grep, zcat
    container = 'python:3.10.0b1'
    // container = 'bashell/alpine-bash'

	withName: 'merge_cells' {
        // Container prerequisites:
        // * R
        // * Seurat
        // * Cowplot
		container = 'satijalab/seurat:4.0.1'
	}

    withName: 'quality_controls|integration|differential_expression' {
        // Container prerequisites:
        // * R
        // * RMarkdown
        container =
    }

    withName: 'salmon_index|quantify_expression' {
        // * Salmon
        container = 'quay.io/biocontainers/salmon:1.4.0--h84f40af_1'
    }

    withName: 'alevin_quality_controls' {
        // Container prerequisites:
        // * R
        // * AlevinQC
        container =
    }

}
